server:
  port: 8080

nvr:
  # Where HLS files will be written (dev friendly)
  # This path is resolved relative to the process working directory.
  hlsRoot: ./streams
  # Path to ffmpeg binary
  ffmpeg: /usr/bin/ffmpeg
  # Default HLS options (can be tuned later)
  hls:
    time: 2
    listSize: 10
    deleteSegments: false
    aacBitrate: 96k
  # Optional: additional global ffmpeg flags (stable defaults)
  ffmpegFlags:
    - -rtsp_transport
    - tcp
    - -stimeout
    - "5000000"
    - -analyzeduration
    - "10000000"
    - -probesize
    - "20000000"

spring:
  mvc:
    cors:
      mappings:
        - path-pattern: "/**"
          allowed-origins: "*"
          allowed-methods: "*"
          allowed-headers: "*"
