server:
  port: 8080

nvr:
  # Where HLS files will be written (dev)
  hlsRoot: ./streams
  # Path to ffmpeg binary
  ffmpeg: /usr/bin/ffmpeg
  # HLS options
  hls:
    time: 2
    listSize: 10
    deleteSegments: false
    aacBitrate: 96k
  # Stable input detection flags
  ffmpegFlags:
    - -rtsp_transport
    - tcp
    - -stimeout
    - "5000000"
    - -analyzeduration
    - "10000000"
    - -probesize
    - "20000000"
